* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Poppins, system-ui;
}

code {
  font-family: 'Fira Mono', monospace;
}

h2 {
  font-size: 2.75em;
  line-height: 1;
  font-weight: 300;
  color: #333;
  margin: .5em 0;
}

@media (max-width: 970px) {
  h2 {
    font-size: 2em;
  }
}